.notes-list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
}

.note-title,
.note-body,
.note-link {
    text-align:center;
    display: block;
}
